<!-- <div class="footer">
    <ul>
        <li>
          <a href="">Become a Seller</a>
        </li>
        <li>
          <a href="">Polices</a>
        </li>
        <li>
          <a href="">Terms and Conditions</a>
        </li>
        <li>
          <a href="">Help Center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="">Facebook</a>
        </li>
        <li>
            <a href="">Youtube</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
      <p>© 2022 E-comme Project</p>
      
</div> -->



<footer class="mt-5 card bg-dark">
  <div class="container">
      <div class="row py-3">
          <div class="col-md-4 text-light">
              <img src="https://media-ccu1-2.cdn.whatsapp.net/v/t61.24694-24/261160810_1727996207592100_8827021634483789526_n.jpg?stp=dst-jpg_s96x96&ccb=11-4&oh=01_AdS8Z2QwAq7ZpZUoAyqAHlvoymCTrOaVQKAHsdiqD5m4Qg&oe=658B8E24&_nc_sid=e6ed6c&_nc_cat=108" alt="Logo" class="img-fluid rounded" height="120px" width="120px">
          </div>
          <div class="col-md-4 text-light">
              <ul>
                  <span>Customer Care</span>
                  <li>Privacy Policy</li>
                  <li>Return &amp; Refund Policy</li>
                  <li> Shipping Policy</li>
                  <li>Terms of Service</li>
              </ul>
          </div>
          <div class="col-md-4 text-light">
              <span>Contact</span>
              <ul>
                  <li><address>Home &amp; Beyond</address></li>
                  <li class="nav-link nav-item "><a href="mailto: info@homeandbeyond.com.bd"> info@homeandbeyond.com.bd</a></li>
                  <li class="nav-link nav-item "><a href="tel:01973016222">
                      01973016222</a></li>
                  <li>20/10 West Pathapath, Dhaka -1215</li>
                 
              </ul>
          </div>

      </div>
  </div>
  
</footer>